// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #008025;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$base-color: #4dc0b5;

$base-color-dark: #212d2d;
$base-color-light: #34ecda;
$base-color-active: #4dc0b5;

$new-color: #212d2d;
$new-background: rgba(9, 69, 69, 0.5);

$active-color: #212d2d;
$active-background: rgba(7, 50, 50, 0.5);

$pending-color: #212d2d;
$pending-background: rgba(5, 33, 33, 0.5);

$completed-color: #212d2d;
$completed-background: rgba(3, 22, 22, 0.5);

$failed-color: #212d2d;
$failed-background: rgba(2, 12, 12, 0.5);

// message colors
$green-message-light: #eaffdc;
$green-message-dark: #9bd494;

$red-message-light: #ffdfdb;
$red-message-dark: #d3827a;

// light-theme colors
$light-blue-theme-text-light: #5fd9ef;
$light-blue-theme-text: #58bfe8;
$light-blue-theme-text-middle: #66828a;
$light-blue-theme-text-dark: #546e74;
$light-blue-theme-selected-area-light: #293e49;
$light-blue-theme-background: #192b33;
$light-blue-theme-selected-area-dark: #0e1e27;
$light-blue-theme-shadow: #0d161a;
$light-blue-theme-black: #070f14;

// dark-green-theme colors
$dark-green-theme-text-light: #8ed881;
$dark-green-theme-text: #466f42;
$dark-green-theme-selected-area-light: #324e33;
$dark-green-theme-text-middle: #364035;
$dark-green-theme-text-dark: #192319;
$dark-green-theme-selected-area-dark: #0e1e27;
$dark-green-theme-black: #0b120a;
$dark-green-theme-background: #090c08;
$dark-green-theme-shadow: #060905;
